.container {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  color: var(--white-color);
  padding: calc(var(--padding) * 2);
  overflow: visible;
}

.closedArchiveImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;
}

.closedArchiveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closedArchiveImage.blurApplied {
  filter: blur(50px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  height: 100%;
  justify-content: space-between;
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.countdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.numberList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, minmax(14px, 1fr));
  gap: 1px;
}

.number {
  opacity: 0.2;
  /* GSAP handles all transitions now */
  /* transition: opacity var(--transition-time) var(--transition-effect); */
}

.number.active {
  opacity: 1;
}

.emailFormContainer {
  position: relative;
  width: 100%;
  height: 27px;
}

.emailForm {
  display: contents;
}

.emailInput {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 0 var(--padding);
  text-transform: none;
  padding-bottom: 2px;
}

.emailInput::placeholder {
  color: var(--white-color);
  opacity: 0.6;
}

.successMessage {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 0 var(--padding);
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  color: var(--white-color);
  text-transform: none;
}

.emailInputCircle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.topLeftCircle {
  top: -3px;
  left: -3px;
}

.topRightCircle {
  top: -3px;
  right: -3px;
}

.bottomLeftCircle {
  bottom: -3px;
  left: -3px;
}

.bottomRightCircle {
  bottom: -3px;
  right: -3px;
}

@media (max-width: 768px) {
  .container {
    width: 340px;
    height: auto;
  }

  .title {
    width: 230px;
  }

  .content {
    gap: 50px;
  }

  .numberList {
    grid-template-columns: repeat(16, minmax(14px, 1fr));
  }
}