.unexpectedConnectionsContainer {
  padding-top: var(--archive-container-top-margin);
  padding-left: var(--padding);
  padding-right: var(--padding);
  position: relative;
  z-index: 1;
}

.unexpectedConnectionsGrid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--column-gap);
}

.unexpectedConnectionsItem {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  grid-column: span 3;
  width: calc(100% + 6px);
  position: relative;
  right: 3px;
  overflow: hidden;
  background-color: var(--fg-color-75);
  color: var(--bg-color);
  height: max-content;
}

.unexpectedConnectionsItem:first-child {
  width: calc(100% + 6px + 5px);
  right: 8px;
}

.unexpectedConnectionsItemTitleWrapper {
  padding-top: 4px;
  padding-bottom: 5px;
  width: 100%;
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.unexpectedConnectionsComparisonItem {
  display: inline-flex;
  flex-direction: column;
  max-width: calc(100% + 6px);
  box-sizing: border-box;
  min-width: var(--dots-min-width);
  min-height: var(--bubble-height);
  width: fit-content;
}

.unexpectedConnectionsItemPosterWrapper {
  width: 100%;
  height: auto;
  line-height: 0;
  padding-right: var(--item-gap);
  padding-bottom: var(--item-gap);
  padding-left: var(--item-gap);
}

.unexpectedConnectionsItemPoster {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.unexpectedConnectionsAnalysis {
  padding-right: var(--padding);
  padding-left: var(--padding);
  padding-top: 4px;
  padding-bottom: 5px;
  width: max-content;
  max-width: 100%;
}