.container {
  display: flex;
  max-height: calc(100dvh - 200px);
  overflow: auto;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 var(--padding);
  margin-top: var(--padding);
  scroll-snap-type: y mandatory;
  position: relative;
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: max-content;
  flex: none;
}

.itemContainer {
  color: var(--bg-color);
  scroll-snap-align: start;
  position: relative;
  overflow: visible;
}

.itemContainer:nth-child(odd) {
  --item-background-color: var(--dark-gray-color);
}

.itemContainer:nth-child(even) {
  --item-background-color: var(--gray-color);
}

.itemWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 3fr 1fr;
  gap: var(--column-gap);
  min-width: 0;
}


.itemColumn {
  background-color: var(--item-background-color);
  width: calc(100% + 6px);
  position: relative;
  right: 3px;
  padding-right: var(--padding);
  padding-left: var(--padding);
  padding-top: 6px;
  padding-bottom: 7px;
  min-width: 0;
}

.itemColumn:nth-child(1) {
  width: calc(100% + 6px + 5px);
  right: 8px;
}

.itemColumn:nth-child(6) {
  width: calc(100% + 6px + 5px);
  right: 3px;
}

.itemColumnContent {
  overflow: hidden;
  width: 100%;
  min-width: 0;
}

.itemColumn p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.itemPoster {
  position: absolute;
  width: calc(100% - 6px);
  height: auto;
  bottom: calc(100% + 2px);
  left: 3px;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
  z-index: 1;
  pointer-events: none;
}

.itemPoster img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (hover: hover) {
  .itemContainer:hover {
    --item-background-color: var(--bg-color);
    color: var(--fg-color);
  }
  
  .itemContainer:hover .itemPoster {
    opacity: 1;
    transition-delay: var(--transition-delay);
  }
}