/* ------------------------------------------------------------ */

/*                        PSEUDO CLASSES                        */

/* ------------------------------------------------------------ */

*:focus,
*:focus-visible {
  outline: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
  box-shadow: none!important;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0 !important;
}

/* ------------------------------------------------------------ */

/*                           ELEMENTS                           */

/* ------------------------------------------------------------ */

*,
*::before,
*::after {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: var(--selection-background-color);
  color: var(--selection-foreground-color);
}

html,
body {
  max-width: 100vw;
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-height: 100dvh;
  overflow: hidden;
}

body[data-page="home"] {
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
}

body[data-page="home"].blur-ready {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

ul,
ol,
menu {
  list-style: none;
}

a,
input,
button,
fieldset,
textarea {
  all: unset;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

input[hidden] {
  display: none;
}

textarea::placeholder,
input::placeholder {
  color: inherit;
}

summary {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

figure.figure-media {
  display: flex;
  flex-direction: column;
  width: 100%;
}

figure.figure-media .media-container {
  line-height: 0;
  position: relative;
}

figure.figure-media.has-aspect-ratio .media-container img,
figure.figure-media.has-aspect-ratio .media-container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

picture,
img,
video {
  width: inherit;
  line-height: 0;
}

.media {
  width: 100%;
  height: auto;
}

#PBarNextFrameWrapper {
  display: none!important;
}

/* ------------------------------------------------------------ */

/*                       UTILITY CLASSES                        */

/* ------------------------------------------------------------ */

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.ratio-1-1 {
  padding-top: var(--1-1);
}

.ratio-2-3 {
  padding-top: var(--2-3);
}

.ratio-3-2 {
  padding-top: var(--3-2);
}

.ratio-3-4 {
  padding-top: var(--3-4);
}

.ratio-4-3 {
  padding-top: var(--4-3);
}

.ratio-3-5 {
  padding-top: var(--3-5);
}

.ratio-5-3 {
  padding-top: var(--5-3);
}

.ratio-9-16 {
  padding-top: var(--9-16);
}

.ratio-16-9 {
  padding-top: var(--16-9);
}

@media only screen and (min-width: 820px) {
  .hide-on-desktop {
    display: none!important;
  }
}

@media only screen and (max-width: 820px) {
  .hide-on-mobile {
    display: none!important;
  }
}

/* ------------------------------------------------------------ */

/*                    PAGE-SPECIFIC STYLES                      */

/* ------------------------------------------------------------ */

body[data-page="archive-entry"] {
  overflow: hidden;
  background-color: var(--gray-color);
}

body[data-page="archive-entry"] .container {
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
  pointer-events: none;
}