/* ------------------------------------------------------------ */

/*                           ANIMATION                          */

/* ------------------------------------------------------------ */

.circleContainer {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.circle[data-number="1"] {
  left: calc(50% + 0px);
  top: calc(50% + -100px);
}

.circle[data-number="2"] {
  left: calc(50% + 70.71px);
  top: calc(50% + -70.71px);
}

.circle[data-number="3"] {
  left: calc(50% + 100px);
  top: calc(50% + 0px);
}

.circle[data-number="4"] {
  left: calc(50% + 70.71px);
  top: calc(50% + 70.71px);
}

.circle[data-number="5"] {
  left: calc(50% + 0px);
  top: calc(50% + 100px);
}

.circle[data-number="6"] {
  left: calc(50% + -70.71px);
  top: calc(50% + 70.71px);
}

.circle[data-number="7"] {
  left: calc(50% + -100px);
  top: calc(50% + 0px);
}

.circle[data-number="8"] {
  left: calc(50% + -70.71px);
  top: calc(50% + -70.71px);
}

/* ------------------------------------------------------------ */

/*                          CHAT BOX                           */

/* ------------------------------------------------------------ */

.chatBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--column-gap);
  padding: var(--padding);
  align-items: center;
}

.chatBoxContent {
  grid-column: 5/9;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: var(--gap);
  max-height: calc(100% - 150px);
  overflow: auto;
}

.chatBoxMessageContainer {
  display: contents;
}

.chatBoxMessage {
  color: var(--white-color);
  min-height: var(--bubble-height);
  min-width: var(--dots-min-width);
  width: fit-content;
  height: min-content;
  padding-top: 4px;
  padding-right: var(--padding);
  padding-bottom: 5px;
  padding-left: var(--padding);
}

.chatBoxMessage[data-sender="bot"] {
  grid-column: 1 / 4;
  background-color: var(--dark-gray-color);
  justify-self: start;
}

.chatBoxMessage[data-sender="user"] {
  grid-column: 2 / 5;
  background-color: var(--gray-color);
  justify-self: end;
}

.chatBoxImagesMessage {
  padding: calc(var(--gap) * 2);
  width: 50%;
  position: relative;
  transition: opacity 0.2s ease;
}

.chatBoxImagesMessageLoading {
  opacity: 0.6;
  pointer-events: none;
}

.chatBoxImagesMessageLoading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--white-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.chatBoxImagesMessageImages {
  display: flex;
  gap: calc(var(--gap) * 2);
  width: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right, black 0%, black calc(100% - 20px), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 0%, black calc(100% - 20px), transparent 100%);
}

.chatBoxImage {
  height: 5vw;
}

.chatBoxImagesMessageFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: calc(var(--padding) - var(--gap) * 2);
  padding-left: calc(var(--padding) - var(--gap) * 2);
  padding-bottom: 3px;
  padding-top: 1px;
}

.chatBoxFormContainer {
  position: absolute;
  grid-column: 6 / 9;
  width: 100%;
  bottom: 54px;
}

.chatBoxForm {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.chatBoxFormInput {
  flex: 1;
  min-height: 100%;
  max-height: 84px;
  height: auto;
  padding: 0 var(--padding);
  text-transform: none;
  padding-bottom: 2px;
  resize: none;
  overflow-y: auto;
}

.chatBoxFormSubmit {
  padding: 0 var(--padding);
}

.chatBoxFormSubmitHidden {
  opacity: 0;
  pointer-events: none;
}

.chatBoxCircle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.topRightCircle {
  top: -7.5px;
  right: -7.5px;
}

.bottomRightCircle {
  bottom: -7.5px;
  right: -7.5px;
}

.bottomLeftCircle {
  bottom: -7.5px;
  left: -7.5px;
}

.topLeftCircle {
  top: -7.5px;
  left: -7.5px;
}