.circleContainer {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Position circles in octagonal pattern - 8 circles at 45-degree intervals */
/* Starting from top (0 degrees) and going clockwise */
/* Animation starts after 0.5 seconds (500ms), then 200ms between each circle */
.circle[data-number="1"] {
  left: calc(50% + 0px);
  top: calc(50% + -100px);
  animation-delay: 500ms;
}

.circle[data-number="2"] {
  left: calc(50% + 70.71px);
  top: calc(50% + -70.71px);
  animation-delay: 700ms;
}

.circle[data-number="3"] {
  left: calc(50% + 100px);
  top: calc(50% + 0px);
  animation-delay: 900ms;
}

.circle[data-number="4"] {
  left: calc(50% + 70.71px);
  top: calc(50% + 70.71px);
  animation-delay: 1100ms;
}

.circle[data-number="5"] {
  left: calc(50% + 0px);
  top: calc(50% + 100px);
  animation-delay: 1300ms;
}

.circle[data-number="6"] {
  left: calc(50% + -70.71px);
  top: calc(50% + 70.71px);
  animation-delay: 1500ms;
}

.circle[data-number="7"] {
  left: calc(50% + -100px);
  top: calc(50% + 0px);
  animation-delay: 1700ms;
}

.circle[data-number="8"] {
  left: calc(50% + -70.71px);
  top: calc(50% + -70.71px);
  animation-delay: 1900ms;
}