/* ------------------------------------------------------------ */

/*                           ANIMATION                          */

/* ------------------------------------------------------------ */

.circleContainer {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.circle[data-number="1"] {
  left: calc(50% + 0px);
  top: calc(50% + -100px);
}

.circle[data-number="2"] {
  left: calc(50% + 70.71px);
  top: calc(50% + -70.71px);
}

.circle[data-number="3"] {
  left: calc(50% + 100px);
  top: calc(50% + 0px);
}

.circle[data-number="4"] {
  left: calc(50% + 70.71px);
  top: calc(50% + 70.71px);
}

.circle[data-number="5"] {
  left: calc(50% + 0px);
  top: calc(50% + 100px);
}

.circle[data-number="6"] {
  left: calc(50% + -70.71px);
  top: calc(50% + 70.71px);
}

.circle[data-number="7"] {
  left: calc(50% + -100px);
  top: calc(50% + 0px);
}

.circle[data-number="8"] {
  left: calc(50% + -70.71px);
  top: calc(50% + -70.71px);
}

.firstVisitText {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--fg-color);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.firstVisitTextCreate,
.firstVisitTextInvest {
  text-transform: uppercase;
}

.firstVisitTextLong {
  text-transform: none;
  width: calc(var(--column-width) * 4 + var(--column-gap) * 3);
  text-align: left;
}
