.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.labContent {
  position: fixed;
  top: 50%;
  left: calc(var(--padding) + var(--column-width) * 6.5 + var(--column-gap) * 6);
  transform: translate(-50%, -50%);
}

.labTitle {
  position: relative;
  width: 585px;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.labText1 {
  position: absolute;
  left: -6.8vw;
  top: -13vh;
  width: max-content;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.labText1 > :global(span:first-child) {
  display: inline-block;
}

.labText2 {
  position: absolute;
  transform: rotate(-1deg);
  left: -16.2vw;
  top: -11.5vh;
  width: max-content;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.labText2 > :global(span:first-child) {
  display: inline-block;
}

.labText3 {
  position: absolute;
  transform: rotate(-1deg);
  width: 249px;
  left: 0;
  top: -7vh;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
}

.labText3 > :global(span:first-child) {
  display: inline-block;
  width: 100%;
}

.labText4 {
  position: absolute;
  width: max-content;
  left: 0.6vw;
  top: -6.4vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText4 > :global(span:first-child) {
  display: inline-block;
}

.labText5 {
  position: absolute;
  transform: rotate(-1deg);
  width: 462px;
  top: 13.2vh;
  left: 3.9vh;
  font-family: var(--optima-font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.labText5 > :global(span:first-child) {
  display: inline-block;
  width: 100%;
}

.labText6 {
  position: absolute;
  width: 300px;
  top: 22.4vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText6 > :global(span:first-child) {
  display: inline-block;
  width: 100%;
}

.labText7 {
  position: absolute;
  transform: rotate(-1deg);
  width: 300px;
  left: 10vw;
  top: 27vh;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.labText7 > :global(span:first-child) {
  display: inline-block;
  width: 100%;
}

.labText8 {
  position: absolute;
  width: max-content;
  left: 18.3vw;
  top: 28vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText8 > :global(span:first-child) {
  display: inline-block;
}

.labButtonLink {
  display: contents;
}

.labQuote {
  position: fixed;
  bottom: 40px;
  left: calc(var(--padding) + var(--column-width) * 5 + var(--column-gap) * 5);
  width: calc(var(--column-width) * 3 + var(--column-gap) * 2);
  line-height: var(--line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0 calc(var(--column-gap) / 2);
}

.labButton {
  position: fixed;
  bottom: var(--padding);
  left: calc(var(--padding) + var(--column-width) * 5 + var(--column-gap) * 5);
  width: calc(var(--column-width) * 3 + var(--column-gap) * 2);
  color: var(--white-color);
  background-color: var(--fg-color);
  height: var(--bubble-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-right: var(--padding);
  padding-bottom: 7px;
  padding-left: var(--padding);
}

@media (hover: hover) {
  .labButton:hover {
    background-color: var(--white-color);
    color: var(--fg-color);
    box-shadow: inset 0 0 0 var(--column-line-width) var(--column-line-color);
  }
}

@media (max-width: 768px) {
  .labContent {
    left: calc(var(--padding) + var(--column-width) * 3 + var(--column-gap) * 3);
  }

  .labTitle {
    width: 375px;
    font-size: 35px;
    line-height: 35px;
  }

  .labText1 {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .labText2 {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
    left: 0;
  }

  .labText3 {
    font-size: 18px;
    width: 159px;
    line-height: 18px;
    letter-spacing: 2px;
    left: 40vw;
  }

  .labText4 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    left: 40vw;
    top: -5.4vh;

  }

  .labText5 {
    font-size: 25px;
    line-height: 25px;
    left: 50%;
    transform: translateX(-50%) rotate(-1deg);
    width: 350px;
    top: 14.1vh;
  }

  .labText6 {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;
    left: 0;
    width: 200px;
    top: 20.9vh;
  }

  .labText7 {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 5px;
    left: 57%;
    transform: rotate(-1deg) translateX(-50%);
  }

  .labText8 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    left: 70%;
    transform: translateX(-50%);
    /* top: 28.4vh; */
  }

  .labButton {
    bottom: var(--responsive-padding);
    left: var(--responsive-padding);
    width: calc(100% - var(--responsive-padding) * 2);
  }

  .labQuote {
    bottom: 34px;
    left: var(--responsive-padding);
    width: calc(100% - var(--responsive-padding) * 2);
  }
}