.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.labContent {
  position: fixed;
  top: 50%;
  left: calc(var(--padding) + var(--column-width) * 6.5 + var(--column-gap) * 6);
  transform: translate(-50%, -50%);
}

.labTitle {
  position: relative;
  width: 585px;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.labText1 {
  position: absolute;
  left: -6.8vw;
  top: -13vh;
  width: max-content;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.labText1 > span:first-child {
  display: inline-block;
}

.labText2 {
  position: absolute;
  transform: rotate(-1deg);
  left: -16.2vw;
  top: -11.5vh;
  width: max-content;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.labText2 > span:first-child {
  display: inline-block;
}

.labText3 {
  position: absolute;
  transform: rotate(-1deg);
  width: 249px;
  left: 0;
  top: -7vh;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
}

.labText3 > span:first-child {
  display: inline-block;
  width: 100%;
}

.labText4 {
  position: absolute;
  width: max-content;
  left: 0.6vw;
  top: -6.4vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText4 > span:first-child {
  display: inline-block;
}

.labText5 {
  position: absolute;
  transform: rotate(-1deg);
  width: 462px;
  top: 13.2vh;
  left: 3.9vh;
  font-family: var(--optima-font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.labText5 > span:first-child {
  display: inline-block;
  width: 100%;
}

.labText6 {
  position: absolute;
  width: 300px;
  top: 22.4vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText6 > span:first-child {
  display: inline-block;
  width: 100%;
}

.labText7 {
  position: absolute;
  transform: rotate(-1deg);
  width: 300px;
  left: 10vw;
  top: 27vh;
  font-family: var(--arial-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.labText7 > span:first-child {
  display: inline-block;
  width: 100%;
}

.labText8 {
  position: absolute;
  width: max-content;
  left: 18.3vw;
  top: 28vh;
  font-family: var(--arial-narrow-font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.labText8 > span:first-child {
  display: inline-block;
}

.labButtonLink {
  display: contents;
}

.labButton {
  position: fixed;
  bottom: var(--padding);
  left: calc(var(--padding) + var(--column-width) * 5 + var(--column-gap) * 5);
  width: calc(var(--column-width) * 3 + var(--column-gap) * 2);
  color: var(--white-color);
  background-color: var(--fg-color);
  height: var(--bubble-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-right: var(--padding);
  padding-bottom: 7px;
  padding-left: var(--padding);
}

@media (hover: hover) {
  .labButton:hover {
    background-color: var(--white-color);
    color: var(--fg-color);
    box-shadow: inset 0 0 0 var(--column-line-width) var(--column-line-color);
  }
}