.linesGrid {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 0;
}

.linesGridItem {
  width: 0.5px;
  height: 100%;
  position: absolute;
  background-color: var(--column-line-color);
  transform: translateX(-50%);
}

.linesGridItem:nth-child(1) {
  left: var(--first-line-offset);
}

.linesGridItem:nth-child(2) {
  left: var(--second-line-offset);
}

.linesGridItem:nth-child(3) {
  left: var(--third-line-offset);
}

.linesGridItem:nth-child(4) {
  left: var(--fourth-line-offset);
}

.linesGridItem:nth-child(5) {
  left: var(--fifth-line-offset);
}

body[data-page="archive-entry"] .linesGridItem {
  background-color: var(--bg-color);
}