.header :global(menu) {
  display: flex;
  gap: var(--gap);
}

.navBubble {
  height: var(--bubble-height);
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  padding-right: var(--padding);
  padding-left: var(--padding);
  color: var(--white-color);
  width: fit-content;
  pointer-events: auto;
}

.navLi.navBubble[data-active="true"] {
  margin-left: 0;
}

.navLi.navBubble[data-active="true"] .navLink {
  position: relative;
  padding-left: 11px;
}

.navLi.navBubble[data-active="true"] .navLink::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1px;
  pointer-events: none;
}

.navTitleContainer {
  display: flex;
  gap: 1px;
}

.navTitleSpan.outside {
  margin-right: 4px;
}

.navMenuMobile {
  display: none;
}

.navNavigation {
  margin-left: var(--padding);
}

.navNavigation :global(menu) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.navNavigation .navLi {
  margin-left: var(--padding);
}

/* ------------------------------------------------------------ */

/*                          ARCHIVE PAGE                        */

/* ------------------------------------------------------------ */

.archiveNavOptions {
  display: none;
}

body[data-page="archive"] .header {
  height: 100dvh;
}

body[data-page="archive"] .navNavigation {
  height: 100%;
}

body[data-page="archive"] .navNavigation :global(menu) {
  height: 100%;
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.archive-nav) {
  margin-left: 0;
  position: relative;
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.lab-nav) {
  margin-top: auto;
}

:global(body[data-page="archive"]) .archiveNavOptions {
  position: absolute;
  bottom: 0;
  left: calc(100% + 1px);
  display: flex;
  gap: 1px;
}

:global(body[data-page="archive"]) .archiveNavOption {
  display: flex;
  gap: 6px;
}

:global(body[data-page="archive"]) .archiveViewToggleButton[aria-pressed="true"] {
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  text-decoration: underline;
}

:global(body[data-page="archive-entry"]) .header {
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
  pointer-events: none;
}

/* ------------------------------------------------------------ */

/*                  UNEXPECTED CONNECTIONS PAGE                 */

/* ------------------------------------------------------------ */

body[data-page="unexpected-connections"] .navBubble {
  background-color: var(--fg-color-75);
}

:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.lab-nav) {
  margin-top: calc(var(--unexpected-primary-poster-height) + var(--gap));
}