:global(body[data-page="home"]) .header {
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
  pointer-events: none;
}

:global(body[data-page="home"].home-animation-complete) .header {
  opacity: 1;
  transition-delay: var(--transition-time);
  pointer-events: auto;
}

.header :global(menu) {
  display: flex;
  gap: var(--gap);
}

.navBubble {
  height: var(--bubble-height);
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  padding-right: var(--padding);
  padding-left: var(--padding);
  color: var(--white-color);
  width: fit-content;
  pointer-events: auto;
  transition: background-color var(--transition-time) var(--transition-effect);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1px;
  pointer-events: none;
}

.navTitleContainer {
  display: flex;
  gap: 1px;
}

.navTitleSpan.outside {
  margin-right: 4px;
}

.navMenuMobile {
  display: none;
}

.navNavigation {
  margin-left: var(--padding);
}

.navNavigation :global(menu) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.navNavigation .navLi {
  margin-left: var(--padding);
  transition: margin-left var(--transition-time) var(--transition-effect), margin-top var(--transition-time) var(--transition-effect);
}

/* ------------------------------------------------------------ */

/*                         NAV CSS LOGIC                        */

/* ------------------------------------------------------------ */

.navLink {
  position: relative;
  transition: padding-left var(--transition-time) var(--transition-effect), background-color var(--transition-time) var(--transition-effect);
}

@media (hover: hover) {
  .navLink:hover {
    padding-left: calc(var(--padding) * 2);
  }

  .archiveViewToggleButton:hover,
  :global(.help-nav) .navBubble:hover,
  .backToArchiveButton .navBubble:hover {
    font-weight: 700;
    font-style: italic;
    /* text-decoration: underline; */
    text-transform: uppercase;
  }
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.archive-nav),
:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.archive-nav),
:global(body[data-page="lab"]) .navNavigation .navLi:global(.lab-nav) {
  margin-left: 0;
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.archive-nav),
:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.archive-nav) {
  position: relative;
  display: flex;
  gap: var(--gap);
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.archive-nav) .navLink,
:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.archive-nav) .navLink,
:global(body[data-page="lab"]) .navNavigation .navLi:global(.lab-nav) .navLink {
  padding-left: calc(var(--padding) * 2);
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.archive-nav) .navLink::before,
:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.archive-nav) .navLink::before,
:global(body[data-page="lab"]) .navNavigation .navLi:global(.lab-nav) .navLink::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-color);
}

/* ------------------------------------------------------------ */

/*                          ARCHIVE PAGE                        */

/* ------------------------------------------------------------ */

.archiveNavOptions {
  display: none;
}

:global(body[data-page="archive"]) .navNavigation .navLi:global(.lab-nav) {
  margin-top: var(--archive-list-height);
}

:global(body[data-page="archive"]) .archiveNavOptions {
  display: flex;
  gap: var(--gap);
}

:global(body[data-page="archive"]) .backToArchiveButton {
  display: none;
}

:global(body[data-page="archive"]) .archiveNavOption {
  display: flex;
  gap: 6px;
}

:global(body[data-page="archive"]) .archiveViewToggleButton[aria-pressed="true"] {
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  text-decoration: underline;
}

:global(body[data-page="archive-entry"]) .header {
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-effect);
  pointer-events: none;
}

/* ------------------------------------------------------------ */

/*                  UNEXPECTED CONNECTIONS PAGE                 */

/* ------------------------------------------------------------ */

:global(body[data-page="unexpected-connections"]) .archiveNavOptions {
  display: flex;
  gap: var(--gap);
}

:global(body[data-page="unexpected-connections"]) .archiveNavOption {
  display: none;
}

:global(body[data-page="unexpected-connections"]) .navBubble {
  background-color: var(--fg-color-75);
}

:global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.lab-nav) {
  margin-top: calc(var(--unexpected-primary-poster-height) + var(--gap));
}

@media screen and (max-width: 768px) {

  .header {
    padding: var(--responsive-padding);
  }
  
  .navMenuMobile {
    display: flex;
  }

  .navTitleSpan {
    display: inline-block;
    vertical-align: bottom;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width .3s ease;
  }

  .navTitleSpan.outside {
    margin-right: 0;
  }

  .navNavigation {
    height: 0;
    overflow-y: hidden;
    overflow-x: visible;
    transition: height var(--transition-time) var(--transition-effect);
  }

  :global(body[data-page="archive"]) .navNavigation .navLi:global(.lab-nav),
  :global(body[data-page="unexpected-connections"]) .navNavigation .navLi:global(.lab-nav) {
    margin-top: 0;
  }

  :global(body.mobile-nav-open) .navNavigation {
    height: calc(var(--bubble-height) * 4 + var(--gap) * 3);
    overflow-y: hidden;
    overflow-x: visible;
    pointer-events: auto;
  }

  :global(body.mobile-nav-open) .navTitleSpan {
    max-width: 70px;
  }

  :global(body.mobile-nav-open) .navTitleSpan.outside {
    margin-right: 4px;
  }

  :global(body[data-page="archive"]) .navNavigation,
  :global(body[data-page="unexpected-connections"]) .navNavigation,
  :global(body[data-page="archive-entry"]) .navNavigation {
    height: auto;
  }

  :global(body[data-page="archive"]) .navLi,
  :global(body[data-page="unexpected-connections"]) .navLi,
  :global(body[data-page="archive-entry"]) .navLi {
    height: 0;
    overflow: hidden;
    transition: height var(--transition-time) var(--transition-effect);
  }

  :global(body[data-page="archive"]) .navLi:global(.archive-nav),
  :global(body[data-page="unexpected-connections"]) .navLi:global(.archive-nav),
  :global(body[data-page="archive-entry"]) .navLi:global(.archive-nav) {
    height: auto;
  }

  :global(body[data-page="archive"]) .navLi:global(.archive-nav) .navLink,
  :global(body[data-page="unexpected-connections"]) .navLi:global(.archive-nav) .navLink,
  :global(body[data-page="archive-entry"]) .navLi:global(.archive-nav) .navLink {
    width: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    transition: width var(--transition-time) var(--transition-effect),
    padding-right var(--transition-time) var(--transition-effect),
    padding-left var(--transition-time) var(--transition-effect);
  }

  :global(body[data-page="archive"].mobile-nav-open) .navLi,
  :global(body[data-page="unexpected-connections"].mobile-nav-open) .navLi,
  :global(body[data-page="archive-entry"].mobile-nav-open) .navLi {
    height: var(--bubble-height);
  }

  :global(body[data-page="archive"].mobile-nav-open) .navLi:global(.archive-nav) .navLink,
  :global(body[data-page="unexpected-connections"].mobile-nav-open) .navLi:global(.archive-nav) .navLink
  :global(body[data-page="archive-entry"].mobile-nav-open) .navLi:global(.archive-nav) .navLink {
    width: 60px;
    padding-right: var(--padding);
    padding-left: var(--padding);
  }

  :global(body[data-page="archive-entry"]) .header {
    z-index: 1001;
    opacity: 1;
    pointer-events: auto;
  }
  
  :global(body[data-page="archive-entry"]) .navBubble {
    color: var(--fg-color);
    background-color: var(--white-color);
  }

  :global(body[data-page="archive-entry"]) .navNavigation .navLi:global(.archive-nav) {
    margin-left: 0;
    position: relative;
    display: flex;
    gap: var(--gap);
  }

  :global(body[data-page="archive-entry"]) .archiveNavOptions {
    display: flex;
    gap: var(--gap);
  }

  :global(body[data-page="archive-entry"]) .archiveNavOption {
    display: none;
  }

  :global(body[data-page="archive-entry"]) .archiveNavOptions :global(.help-nav) {
    display: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}