:root {
  /* Colors */
  --bg-color: #EFEFEF;
  --fg-color: #000000;
  --selection-background-color: #ffffff;
  --selection-foreground-color: #000000;
  --dark-gray-color: #A5A5A5;
  --gray-color: #BFBFBF;
  --white-color: #FFF;
  --transparent-bg-color: rgba(239, 239, 239, 0);

  /* Fonts */
  --font-family: 'courier', monospace;
  --font-weight: 400;
  --font-size: 10px;
  --line-height: 10px;

  --padding: 9px;
  --gap: 1px;
  --item-gap: 3px;

  /* Transitions */
  --transition-time: 0.3s;
  --transition-effect: ease;
  --transition-delay: 0.4s;

  /* Columns */
  --column-line-color: var(--gray-color);
  --column-line-width: .5px;
  --columns: 12;
  --column-gaps-count: 7;
  --column-gap: var(--padding);
  --column-gap-half: calc((var(--column-gap) - var(--column-line-width)) / 2);
  --column-width: calc((100dvw - (var(--column-gap) * var(--column-gaps-count))) / var(--columns));
  --first-line0: calc(var(--column-gap) + var(--column-width) * 1 + var(--column-gap-half));
  --first-line1: calc(var(--column-gap) + var(--column-width) * 1 + var(--column-gap-half) + var(--column-line-width));
  --second-line0: calc(var(--column-gap) * 2 + var(--column-width) * 3 + var(--column-gap-half));
  --second-line1: calc(var(--column-gap) * 2 + var(--column-width) * 3 + var(--column-gap-half) + var(--column-line-width));
  --third-line0: calc(var(--column-gap) * 3 + var(--column-width) * 5 + var(--column-gap-half));
  --third-line1: calc(var(--column-gap) * 3 + var(--column-width) * 5 + var(--column-gap-half) + var(--column-line-width));
  --fourth-line0: calc(var(--column-gap) * 4 + var(--column-width) * 8 + var(--column-gap-half));
  --fourth-line1: calc(var(--column-gap) * 4 + var(--column-width) * 8 + var(--column-gap-half) + var(--column-line-width));
  --fifth-line0: calc(var(--column-gap) * 5 + var(--column-width) * 11 + var(--column-gap-half));
  --fifth-line1: calc(var(--column-gap) * 5 + var(--column-width) * 11 + var(--column-gap-half) + var(--column-line-width));
}