:root {
  /* Colors */
  --bg-color: #EFEFEF;
  --bg-color-75: rgba(239, 239, 239, 0.75);
  --fg-color: #000000;
  --fg-color-75: rgba(0, 0, 0, 0.75);
  --selection-background-color: #ffffff;
  --selection-foreground-color: #000000;
  --dark-gray-color: #A5A5A5;
  --gray-color: #BFBFBF;
  --white-color: #FFF;
  --white-color-75: rgba(255, 255, 255, 0.75);
  --transparent-bg-color: rgba(239, 239, 239, 0);

  /* Fonts */
  --font-family: 'courier', monospace;
  --font-weight: 400;
  --font-size: 10px;
  --line-height: 14px;

  --arial-narrow-font-family: 'Arial Narrow', sans-serif;
  --arial-font-family: 'Arial', sans-serif;
  --optima-font-family: 'Optima', sans-serif;

  --padding: 9px;
  --bubble-height: 23px;
  --dots-min-width: 36px;
  --gap: 1px;
  --item-gap: 3px;
  --border-radius: 4px;

  /* Transitions */
  --transition-time: 0.3s;
  --transition-effect: ease;
  --transition-delay: 0.4s;

  /* Columns */
  --column-line-color: var(--gray-color);
  --column-line-width: .5px;
  --columns: 12;
  --column-gaps-count: calc(var(--columns) - 1);
  --column-gap: var(--padding);
  --column-gap-half: calc((var(--column-gap)) / 2);
  --column-width: calc((100vw - (var(--column-gap) * var(--column-gaps-count)) - var(--padding) * 2) / var(--columns));
  --first-line-offset: calc(var(--padding) + var(--column-width) * 1  + var(--column-gap) * 0 + var(--column-gap-half));
  --second-line-offset: calc(var(--padding) + var(--column-width) * 3 + var(--column-gap) * 2 + var(--column-gap-half));
  --third-line-offset: calc(var(--padding) + var(--column-width) * 5 + var(--column-gap) * 4 + var(--column-gap-half));
  --fourth-line-offset: calc(var(--padding) + var(--column-width) * 8 + var(--column-gap) * 7 + var(--column-gap-half));
  --fifth-line-offset: calc(var(--padding) + var(--column-width) * 11 + var(--column-gap) * 10 + var(--column-gap-half));

  /* Archive page */
  --archive-container-top-margin: calc(var(--padding) + var(--bubble-height) * 2 + var(--gap) * 2);
  --archive-container-bottom-margin: calc(var(--padding) + var(--bubble-height) * 3 + var(--gap) * 3);
  --unexpected-primary-poster-height: 0px;
  --archive-list-height: 0px;
  --close-archive-button-size: 36px;
  --open-archive-button-size: 242px;
}

@media (max-width: 768px) {
  :root {
    --columns: 6;
    --first-line-offset: calc(var(--padding) + var(--column-width) * 1  + var(--column-gap) * 0 + var(--column-gap-half));
    --second-line-offset: calc(var(--padding) + var(--column-width) * 3 + var(--column-gap) * 2 + var(--column-gap-half));
    --third-line-offset: calc(var(--padding) + var(--column-width) * 5 + var(--column-gap) * 4 + var(--column-gap-half));
  }
}